*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

.nav{
    background-color:#0284c7;
    height: 50px;
}
.nav ul{ 
    display: flex;
  
}
.nav ul li{
    padding: 15px 50px;
    list-style: none;
    font-size: large;

    
}
.nav a{
    text-decoration: none;
 
    color: white;

}
.home{
    height: 30vh;
    background-color:lavender;
    
}
.home h2{
    padding-top: 3%;
    text-align: center;
    font-size: 2.4rem;
    color :indigo;
}
h1{
    text-align: center;
    
}
.pro{
    height: 10vh;
    background-color:lightcoral;
}
.grid-container {

  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  padding: 100px 25px;
}

.grid-container .bx{
    height: 30vh;
    /* background-color: chocolate; */
    padding: 35px 5px;
    border: 3px solid black;
    background-size: cover;
}
.grid-container .bx img{
        background-size: cover;
        height: 30vh;
   
        margin-left: 15%;

        /* margin-bottom: 10%; */
}
.grid-container .bx1 img{
          background-size: cover;
        height: 30vh;
   
        margin-left: 25%;
}
.foot{
    background-color: darkgrey;
    height: 25vh;
}
.foot h2{
    text-align: center;
    font-size: 3rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.foot i{
    font-size: 2rem;
}
h3{
    text-align: center;
    font-size: 2rem;
}


@media(max-width:1250px){
 .grid-container .bx img {
    background-size: cover;
    height: 30vh;
    margin-left: 5%;
    /* margin-bottom: 10%; */
}
}
@media(max-width:1150px){
.grid-container .bx img {
    background-size: cover;
    height: 30vh;
    margin-left: 0%;
    /* margin-bottom: 10%; */
}
}
@media(max-width:1100px){
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 100px 0px;
}
.grid-container .bx {
    height: 30vh;
    /* background-color: chocolate; */
    padding: 35px 0px;
    border: 3px solid black;
    background-size: cover;
}
.grid-container .bx1 img {
    background-size: cover;
    height: 30vh;
    margin-left: 10%;
}
}

@media(max-width:1050px){
 .grid-container .bx img {
    background-size: cover;
    height: 30vh;
    margin-left: 0%;
    /* margin-bottom: 10%; */
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 100px 0px;
}
.grid-container .bx1 img {
    background-size: cover;
    height: 30vh;
    margin-left: 12%;
    margin-top: 10%;
}
.grid-container .bx {
    height: 30vh;
    /* background-color: chocolate; */
    padding: 35px 0px;
    border: 3px solid black;
    background-size: cover;
    width: 90%;
}
.grid-container .bx img{
    width: 95%;
    margin-left: 2%;
}
}
@media(max-width:950px){
    
.grid-container .bx img {
    width: 85%;
    margin-left: 6%;
    height: 27vh;
}
}
@media(max-width:900px){
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        /* background-color: #2196F3; */
        padding: 100px -1px;
    }
}
@media(max-width:750px){
    .grid-container .bx1 img {
        background-size: cover;
        height: 30vh;
        margin-left: 6%;
        margin-top: 10%;
    }
    .grid-container .bx {
        height: 25vh;
        /* background-color: chocolate; */
        padding: 35px 0px;
        border: 3px solid black;
        background-size: cover;
        width: 90%;
    }
    .home h2 {
        padding-top: 3%;
        text-align: center;
        font-size: 2.3rem;
        color: indigo;
    }
    .home h2 {
        padding-top: 3%;
        text-align: center;
        font-size: 2.3rem;
        color: indigo;
    }
    .grid-container .bx img{
        height: 24vh;
    }
    .foot h2{
        font-size: 2.3rem;
        margin-top: -3%;
    }
}
@media(max-width:700px){
    .nav ul li{
        padding: 15px 40px;
    }
}
@media(max-width:650px){
    .grid-container .bx {
        height: 22vh;
        /* background-color: chocolate; */
        padding: 35px 0px;
        border: 3px solid black;
        background-size: cover;
        width: 85%;
    }
    .grid-container .bx1 img {
        background-size: cover;
        height: 27vh;
        margin-left: 0%;
        margin-top: 10%;
    }
    .grid-container .bx img {
        height: 20vh;
    }

}
@media(max-width:600px){
    .nav ul li {
        padding: 15px 30px;
    }
    .grid-container .bx1 img {
        background-size: cover;
        height: 25vh;
        margin-left: 2%;
        margin-top: 10%;
    }
    h3 {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 10%;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        /* background-color: #2196F3; */
        padding: 60px 0px;
    }
}
@media(max-width:550px){
    .nav ul li {
        padding: 15px 25px;
    }
    .grid-container .bx1 img {
        height: 20vh;
        margin-left: 7%;
    }
}
@media(max-width:500px){
    .nav ul li {
        padding: 15px 15px;
    }
    .grid-container .bx img {
        height: 17vh;
    }
    .grid-container .bx {
        height: 22vh;
        /* background-color: chocolate; */
        padding: 2px 0px;
        border: 3px solid black;
        background-size: cover;
        width: 80%;
    }
}
@media(max-width:450px){
    .home h2{
        font-size: 1.8rem;
        padding-top: 10%;
    }
    .grid-container .bx1 img {
        height: 17vh;
        margin-left: 2%;
    }
    .grid-container .bx img {
        height: 16vh;
        margin-top: 15%;
     
    }
    h3 {
        text-align: center;
        font-size: 1.2rem;
        margin-top: 10%;
    }
    h1 {
        text-align: center;
        padding-top: 2%;
    }   
    
}
@media(max-width:400px){
    .nav ul li {
        padding: 15px 15px;
    }
    .nav a {
        text-decoration: none;
        color: white;
        font-size: smaller;
    }
    .grid-container .bx {

        /* background-color: chocolate; */
        padding: 2px 6px;
    }
    .pro{
        height: 7vh;
    }
    .home h2{
        font-size: 1.4rem;
    }
    h1{
        padding-top: 0;
    }
    .grid-container .bx img {
        height: 15vh;
        margin-top: 15%;
    }
}